 *{
  box-sizing: border-box;
} 

header{
text-align: center;

}
html,body{
  background-color: skyblue;
  
}
h1{
  align-self: start;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding: 0%;
  font-size: 30px;
  font-weight: bold;
}
#page1,#page2{
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
border-radius: 7px;
}
#keyword-filter{
  font-family: 'Courier New', Courier, monospace;
font-weight: bold;
border-radius: 7px;
border-color:solid black;
}

img{
  width: 180px;
  height: 180px;
  padding-top: 30px;
  

}
main{
  width: 960px;
  margin: auto;
  
  
}
section{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 
}
p{
color:brown;
}
h2{
  font-family: 'Courier New', Courier, monospace;
font-weight: bold;
padding-top: 20px;
border: brown;

}
footer {
  clear:both;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
main {
  margin:auto;
  width: 960px;
  
}
div{
  display:flex;
  justify-content:center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  

  
}