 *{
  box-sizing: border-box;
} 

header{
text-align: center;

}
html,body{
  background-color: skyblue;
  
}
h1{
  align-self: start;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding: 0%;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom:20px;
}
.bar {
  height: 10px;
  width: 35%;
  margin: 5px auto;
  background-color:green;
  border-radius: 5px;
  
}
.bar:hover {
  background: sandybrown;
}
#page1,#page2{
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
border-radius: 7px;
width:120px;
letter-spacing: normal;
justify-content: space-evenly;

}
#page2:hover{
  background-color:steelblue;
  cursor: pointer;
}
#page1:hover{
  background-color:steelblue;
}

#keyword-filter{
  font-family: 'Courier New', Courier, monospace;
font-weight: bold;
border-radius: 7px;
border-color: solid black ;
color:black;
}
#keyword-filter:hover{
  background-color:steelblue;
  cursor: pointer;
}
img{
  width: 180px;
  height: 180px;
  padding-top: 30px;
  

}
main{
  width: 960px;
  margin: auto;
  
  
}
section{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 
}
p{
color:brown;
}
h2{
  font-family: 'Courier New', Courier, monospace;
font-weight: bold;
padding-top: 20px;
border: brown;

}
footer {
  clear:both;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
main {
  margin:auto;
  width: 960px;
  
}
div{
  display:flex;
  justify-content:center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  

  
}